@import "https://assets.nopixel.net/web/fonts/gilroy/stylesheet.css";

.tooltip-inner {
    font-size: 11px;
    color: white;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
    border-radius: 20px; 
}

.toggle.ios .toggle-handle { 
    border-radius: 20px; 
}

.custom-control, .custom-switch, .custom-control-input {
    color: white
}
